body{
  background: #3023ae;
  background: -moz-linear-gradient(60deg, #3023ae 0%, #c86dd7 100%);
  background: -webkit-linear-gradient(60deg, #3023ae 0%, #c86dd7 100%);
  background: linear-gradient(60deg, #3023ae 0%, #c86dd7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3023ae', endColorstr='#c86dd7', GradientType=1);
}
